body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #55798F;
  background-image: url("../assets/background.jfif");
  background-color: #173446;
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-size: cover;
}


.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 20px;
  overflow: hidden;
}


/* Control the left side */
.left {
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Control the right side */
.right {
  right: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border-width: 2px;
  float: left;
}

.cell {
  margin: 0.5px;
  padding: 0;
  border: 2px solid #55798F;
  float: left;
}


.water {

}

.waterHit {
  background-color: darkblue;

}

.ship {
  background-color: grey;
}

.shipHit {
  background-color: red;
}

.selected {
  background-color: green;
}

.title {
  font-size: 70pt;
  color: #55798F;
  padding: 0;
  margin: 0;
  text-align: center;
}



#footerLeft {
  position: absolute;
  left: 5px;
  bottom: 10px;
}

#footerRight {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

#shoot {
  z-index: 8;
  color: #dddddd;
  background-color: red;
  border-radius: 10px;
  text-align:center;


  position: absolute;
  margin-right: -250px;
  width: 500px;
  height: 30px;
  bottom: 50px;
  right: 50%;
}

#shoot:hover{
  background-color: #dd0000;
}

/* 
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
} */


#setForm {
  /* display: none; */
  background-color: #55798F;
  color: aliceblue;
  box-shadow: 0px 0px 10px 2px black;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 9;
}

#form-cotainer input[type=number] {
  width: 35px;
  border: none;
  background: #f1f1f1;
}
#form-cotainer input[type=text] {
  width: 170px;
  border: none;
  background: #f1f1f1;
}
#form-container input[type=text]:focus, .form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}


